
*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 1500px;
    height: auto;
    margin: auto;
}

.hrr{
    background-color: black;
}
.cart{
    width: 1000px;
    height: auto;
    text-align: center;
    margin-left: 250px;
}
.cart img{
    float: left;
    margin-left: 50px;
}
.cart p{
    float: left;
    margin-left: 50px;
    margin-top: 60px;
    font-family: "Roboto", sans-serif;
    color: rgb(145, 145, 145);
}
.cart button{
    color: black;
    background: white;
    border: 1px solid black;
    font-family: "Roboto", sans-serif;
    margin-top: 50px;
    line-height: 30px;
    width: 100px;
    float: right;
    margin-right: 50px;
}
.cart button:hover{
    color: white;
    background: black;
}


.about p{
    margin: 100px;
    font-size: 60px;
    font-family: "Bodoni Moda", serif;
    text-align: center;
}
.lon{
    margin-top: 70px;
}
.lon, .giua{
    font-size: 40px;
    font-family: "Bodoni Moda", serif;
}
.nho{
    color: rgb(145, 145, 145);
    font-family: "Roboto", sans-serif;
}
.giua{
    text-align: center;
    padding-top: 80px;
}
.bon{
    width: 300px;
    height:  auto;
    float: left;
    margin-left: 60px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.bon img{
    width: 300px;
    height: 300px;
}
.bon h3{
    margin: 10px;
    text-align: center;
    font-family: "Bodoni Moda", serif;
}
.bon p{
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: rgb(145, 145, 145);
}



hr{
    margin: 40px;
}
.clear{
    clear: both;
}